/* * {
    border: 2px solid red;
} */
* {
    user-select: none;
}
body {
    padding: 80px;
    margin: 0;
    box-sizing: border-box;
    height: auto;
    background-color: #e6dfd0;
}
/* #1b1413  #6c9ca4  #901814  #f9d284  #db254c  #e6dfd0 */
.navbar {
    background-color: #db254c;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
}
a {
    text-decoration: none;
    color: #1b1413;
    font-weight: 700;
}
a:hover {
    text-decoration: underline;
}
h1.name, p.work {
    font-family: Kanit;   
}
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: calc(100%-320px);
    aspect-ratio: 2 / 0.75;
}
.left-side {
    width: 50%;
}
.right-side {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
i {
    border-radius: 100%;
    font-size: 1.5rem;
}
.yawa {
    width: 40%;
    height: 80%;
    border-radius: 20px;
}
h1::after {
    content: "|";
    animation: text 1000ms infinite;
}
@keyframes text {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media only screen and (max-width: 768px) {
    body {
        padding: 40px 0;
    }
    .x {
        display: none;
    }
    .header {
        margin-top: 30px;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 200px);
    }
    .left-side {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
    }
    .right-side {
        grid-area: 1 / 1 / 2 / 2;
    }
    img.yawa {
        height: 100%;
        border-radius: 20px;
    }
    .navbar {
        justify-content: space-evenly;
        gap: 0;
    }
}